*.log
*.tmp

__pycache__/
*.py[cod]
*$py.class

venv/
env/

.ipynb_checkpoints/

Data For Solar/
segmented_output/
test/
train/

YOLO & SAM.ipynb
yolov8n.pt
sam_vit_h_4b8939.pth

*.pth
!best_solar_panel_model_0.9096.pth
